* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.page {
  height: 100%;
  width: 100%;
  display: flex;
}
.left-side {
  height: 100%;
  width: 50%;
  background-color: white;
  color: black;
}
.right-side {
  height: 100%;
  width: 50%;
  background-color: #b93930;
  color: white;
}
.nav-left {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
}
#search-bar {
  width: 20rem;
  height: 2.8rem;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  border-style: none;
  background-color: #e2e0e0;
  font-weight: 100;
}
.search-icon{
    position: relative;
    left: 2.6rem;
    top: 0.4rem;
}

.vertical-word {
  transform: rotate(270deg);
  position: relative;
  right: 16rem;
  bottom: 5rem;
  font-size: 70px;
  font-family: serif;
  font-style:italic;
}
.word-listing ul li {
  font-size: 25px;
  position: relative;
  left: 28rem;
  bottom: 6rem;
  margin-top: 1.5rem;
}
.insect {
  position: absolute;
  left: 49.5rem;
  top: 9rem;
}
.nav-right ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  font-size: large;
  padding: 20px;
  margin-top: 10px;
}
.nav-right ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
main{
  position: relative;
  top: 5rem;
  left: 5rem;
}
.name {
  position: relative;
  left: 16rem;
  top: 2rem;
  font-size: 65px;
  font-family: serif;
}
.information {
  color: white;
  position: relative;
  left: 16rem;
  top: 5rem;
  display: flex;
  flex-direction: row;
  font-weight: 100;
  font-size: 14px;
}
.length {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
.vertical-line {
  border-right: 1px solid white;
  margin: 1rem;
}
.other-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.svg,
.text {
  display: inline-block;
}
footer {
  position: relative;
  left: 22rem;
  top: 16rem;
}
.price {
  font-size: 35px;
}
input {
  margin-right: 10px;
}
.first-check,
.second-check {
  margin: 10px 0;
  font-size: smaller;
  font-weight: 100;
}
.add-to-collection-btn {
  padding: 18px 28px;
  border: none;
  background-color: wheat;
  font-size: 20px;
  font-weight: 300;
  color: black;
  border-radius: 10px;
  margin: 15px 0;
  cursor: pointer;
}